h1 Mensagem do Shereland
p
  span= "Nome: " + name
  br
  span= "E-mail: " + email
  br
  span= "Telefone: " + phone
  br
  span= "Assunto: " + subject
  br
  span= "Como nos achou: " + how_found_site
  br
  span= "Mensagem: " + message
